<!--NAVBAR -->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/#/map" class="navbar-brand">Homes for the Holidays!</a>
      </div> <!-- navbar header end -->

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <a class="btn btn-danger navbar-btn navbar-right" href="/#/logout">Logout</a>
        <a class="btn btn-default navbar-btn navbar-right" href="/#/map">View Map</a>
        <ul class="nav navbar-nav">
          <li><a href="/#/?scrollTo=marker-details" scroll-to="marker-details">Marker Details</a></li>
          <li><a href="/#/?scrollTo=edit-marker" scroll-to="edit-marker">Edit Marker</a></li>
        </ul>
      </div>
    </div> <!-- container end -->
  </nav> <!-- end navbar -->

<div class="container navbarmargin scrollpadding" id="marker-details">
  <h1> {{editc.newMarker.address}} </h1>
  <img id="show-pic" ng-src="{{editc.newMarker.image}}"></img>
  <ul class="list-group">
    <li class="list-group-item"> <strong class="glyphicon glyphicon-globe"></strong>   Located in coordinates ({{editc.newMarker.latitude}}, {{editc.newMarker.longitude}})</li>
    <li class="list-group-item"> <strong class="glyphicon glyphicon-pencil"></strong>   {{editc.newMarker.message}}</li>
    <li class="list-group-item"> <strong class="glyphicon glyphicon-thumbs-up"></strong>   {{editc.newMarker.username}} gave it {{editc.newMarker.rating}}</li>
    <li class="list-group-item"> <strong class="glyphicon glyphicon-thumbs-up"></strong> {{editc.newMarker.editusername}}</li>

  </ul>

</div>


<div class="container scrollpading" id="edit-marker">
  <hr>
  <h1> Edit this Marker </h1>
  <form name="markerForm" novalidate>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <h3> Required Fields </h3>
        <div>
          <label for="Addressform">Address</label>
          <input class="addressform form-control" id="addressform" type="text" ng-model = "editc.newMarker.address">
        </div>
        <div>
          <label for="Latitude">Latitude</label>
          <input class="latitude form-control" id="latitude" type="text" ng-model = "editc.newMarker.latitude" required>
        </div>
        <div>
          <label for="Longitude">Longitude</label>
          <input class="longitude form-control" id="longitude" type="text" ng-model = "editc.newMarker.longitude" required>
        </div>
      </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h3> Add Some Personality </h3>
          <div>
            <label for="Image">Copy Image URL</label>
            <input class="image form-control" id="image" type="url" ng-model = "editc.newMarker.image">
          </div>
          <div>
            <label>Rate It!</label>
            <select class="rating form-control" ng-model="editc.newMarker.rating">
              <option>&#9733;</option>
              <option>&#9733;&#9733;</option>
              <option>&#9733;&#9733;&#9733;</option>
              <option>&#9733;&#9733;&#9733;&#9733;</option>
              <option>&#9733;&#9733;&#9733;&#9733;&#9733;</option>
            </select>
          </div>
          <div>
            <label for="username">Created by</label>
            <input disabled class="form-control" type="text" ng-model = "editc.newMarker.username">
          </div>
          <div id="diveditusername">
            <input disabled class="editusername form-control" id="editusername" type="text" placeholder="click to add username" ng-model = "editc.newMarker.editusername">
            <input type="submit" class="btn btn-success" value="Attribute Yourself" ng-click="editc.editUsername()"/>
          </div>
        </div> <!-- end personality form row -->
      </div> <!-- end form row -->
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label for="Message">Message</label>
          <input class="message form-control" id="message" type="text" ng-model = "editc.newMarker.message">
        </div>
      </div>
      <div class="row" id="markersubmit">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <input type="submit" class="btn btn-success btn-block" value="Submit to Update Marker"  ng-click="editc.addNewMarker()">
        </div>
      </div>
      <div class="row" id="markerdelete">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <input type="submit" class="btn btn-danger btn-block" value="Permanently Delete This Marker"  ng-click="editc.deleteEditMarker()">
        </div>
      </div>
  </form>
</div>
