<!--NAVBAR -->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/#/" class="navbar-brand light-brand">Homes for the Holidays!</a>
      </div> <!-- navbar header end -->

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <a class="btn btn-danger navbar-btn navbar-right" href="/#/logout">Logout</a>
        <ul class="nav navbar-nav">
          <li><a href="/#/map" scroll-to="login-map">Top of Page</a></li>
          <li><a href="/#/?scrollTo=marker-form" scroll-to="marker-form">Add a Marker</a></li>
          <li><a href="/#/?scrollTo=chat-room" scroll-to="chatroom">Fireside Chat</a></li>
          <li><a href="/#/?scrollTo=marker-table" scroll-to="marker-table">Marker List</a></li>
        </ul>
      </div>
    </div> <!-- container end -->
  </nav> <!-- end navbar -->


<!--JUMBOTRON -->
<div class="jumbotron scrollpadding" id="memberjumbotron">
  <div class="container text-center">
    <h1> Welcome {{mc.newMarker.username}} !</h1>

  </div> <!-- end container -->
</div> <!-- end jumpotron -->


<!--MAP CANVAS-->
<div class="container-fluid text-center scrollpadding" id="login-map">

  <h1> View Lights in your Area</h1>

  <div class="row">
    <div class="col-md-6">
        <h3> Center Map by Address </h3>
        <input class="input-large" id="address" placeholder="Type address here to center the map.">
        <input type="submit" class="btn btn-success" value="Go!" ng-click="mc.centerbyAddress()">
    </div>

    <div class="col-md-6">
      <h3>  Center Map by Geolocation </h3>
      <button class="btn btn-info" ng-click="mc.centerbyGeolocation()">Recenter by Geolocation</button>
      <p> Accurate, but will take a few seconds to load. </p>
        <div class="progress">
        <div id="geoprogessbar" class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"  ng-style="{width : ( setProgress + '%' ) }">
      {{setProgress}}% Complete
  </div>
</div>
    </div>
  </div>

  <ui-gmap-google-map center="map.center" zoom="map.zoom" control="map.control" options="options">

    <ui-gmap-marker ng-repeat="(markerId, list) in mc.Marker"
            coords="list" idkey="markerId" icon="marker.bulbicon" options="marker.options">
      <ui-gmap-window isIconVisibleOnClick="true">
        <div class="marker-infobox">
          <h5>{{list.address}}</h5>
          <img class="add-img" ng-src="{{list.image}}">
          <p>{{list.message}} <br><i>{{list.username}}</i><br>{{list.rating}}</p> <a class="btn btn-primary" href="/#/{{markerId}}/edit">Marker Details</a>
        </div>
      </ui-gmap-window>
    </ui-gmap-marker>

  </ui-gmap-google-map>
</div>


<div class="container scrollpadding" id="marker-form">

  <div class="row">
      <h1> Add a Marker </h1>
      <div class="col-md-6">
          <h3> Get Coordinates by Address </h3>
          <input id="address-marker" placeholder="Type address to autofill coordinates.">
          <input type="submit" class="btn btn-success" value="Go!" ng-click="mc.getAddress()">
      </div>

      <div class="col-md-6">
      <h3>  Get Coordinates by Geolocation </h3>
      <button class="btn btn-info" ng-click="mc.getLocation()">Use Geolocation</button>
      <p> Accurate, but will take a few seconds to load. </p>
      <div class="progress">
      <div id="geoprogessbar" class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"  ng-style="{width : ( showProgress + '%' ) }">
    {{showProgress}}% Complete
    </div>
      </div>
  </div><!--  end coords row -->
  <hr>
  <form name="markerForm" ng-submit="markerForm.$valid && mc.addNewMarker()" novalidate>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <h3> Required Fields </h3>
        <div>
          <label for="Addressform">Address</label>
          <input class="addressform form-control" id="addressform" type="text" ng-model = "mc.newMarker.address">
        </div>
        <div>
          <label for="Latitude">Latitude</label>
          <input class="latitude form-control" id="latitude" type="text" ng-model = "mc.newMarker.latitude" required>
        </div>
        <div>
          <label for="Longitude">Longitude</label>
          <input class="longitude form-control" id="longitude" type="text" ng-model = "mc.newMarker.longitude" required>
        </div>
      </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h3> Add Some Personality </h3>
          <div>
            <label for="Image">Copy Image URL</label>
            <input class="image form-control" id="image" type="url" ng-model = "mc.newMarker.image">
          </div>
          <div>
            <label>Rate It!</label>
            <select class="rating form-control" ng-model="mc.newMarker.rating">
              <option>&#9733;</option>
              <option>&#9733;&#9733;</option>
              <option>&#9733;&#9733;&#9733;</option>
              <option>&#9733;&#9733;&#9733;&#9733;</option>
              <option>&#9733;&#9733;&#9733;&#9733;&#9733;</option>
            </select>
          </div>
          <div>
            <label> Username </label>
            <input disabled class="form-control" id="username" placeholder="required" type="text" ng-model = "mc.newMarker.username">
          </div>
        </div> <!-- end personality form row -->
      </div> <!-- end form row -->
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label for="Message">Message</label>
          <input class="message form-control" id="message" type="text" ng-model = "mc.newMarker.message">
        </div>
      </div>
      <div class="row" id="markersubmit">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <input type="submit" class="btn btn-warning btn-block" value="Clear Form" ng-click="mc.clearForm()" />
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
          <input type="submit" class="btn btn-success btn-block" value="Submit to Add Marker" ng-class="{disabled: markerForm.$invalid}" />

        </div>
      </div>
  </form>

</div> <!-- end marker-form container -->

<!-- CHAT MARKUP -->
<div class="container well scrollpadding" id="chatroom">
  <h1> Christmas Fireside Chat </h2>
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
        <input class="form-control" type='text' id='nameInput' placeholder='Name'>
      </div>
      <div class="col-sm-9 col-md-9 col-lg-9">
        <input class="form-control" type='text' id='messageInput' placeholder='Message'>
      </div>
    </div>
    <hr>
  <div id='messagesDiv'></div>
</div>

<div class="container scrollpadding text-center" id="marker-table">
  <h1> Marker List </h1>
  <table class="table">
    <tr class="row">
      <th class="col-sm-3 col-md-3 col-lg-3">Image Preview</th>
      <th class="col-sm-3 col-md-3 col-lg-3">Address</th>
      <th class="col-sm-3 col-md-3 col-lg-3">Message</th>
      <th class="col-sm-3 col-md-3 col-lg-3">Edit</th>
    </tr>
    <tr class="row" ng-repeat="(markerId, list) in mc.Marker">
      <td class="col-sm-3 col-md-3 col-lg-3"><img class="add-img" ng-src="{{list.image}}"></td>
      <td class="col-sm-3 col-md-3 col-lg-3">{{list.address}}</td>
      <td class="col-sm-3 col-md-3 col-lg-3">{{list.message}}</td>
      <td class="col-sm-3 col-md-3 col-lg-3"> <a class="btn btn-primary" href="/#/{{markerId}}/edit">Edit</a></td>
    </tr>
  </table>
</div>
