.angular-google-map-container {
  height: 400px;
  }

h1 {
  text-align: center;
}

td, th {
  padding: 20px;
}

body {
  background-color: lightgrey;
}

.add-img{
  height: 100px;
  width: 100px;
  border-radius: 10%;
}

.marker-infobox{
  padding: 5px;
  background-color: lightblue;
  text-align: center;
  line-height:200%;
}

.startsection {
  background-image: url("../img/lightedanimals.jpg");
  height: 800px;
  font-family: arial;
  background-size: 800px 600px;
  background-repeat: no-repeat;
}
