@font-face {
    font-family: CandyCane;
    src: url(candycane.ttf);
}

@font-face {
    font-family: CityofLight;
    src: url(CityofLight.ttf);
}


.angular-google-map-container {
  height: 400px;
  }

h1, h3, #light-brand {
  text-align: center;
  font-family: CityofLight, Impact;
}

.jumbotron{
  background-image: url(../img/cityatnight.jpg);
  color: lightgrey;
  height: 600px;
}
icon {
  height: 15px;
  width: 15px;
}

td, th {
  padding: 20px;
}

body {
  background-image: url(../img/verybluewinterswirl.jpg);
  background-color: lightblue;
}


.add-img{
  height: 100px;
  width: 100px;
  border-radius: 10%;
}

.marker-infobox{
  padding: 5px;
  background-color: lightblue;
  text-align: center;
  line-height:200%;
}

.navbarmargin{
  margin-top: 50px;
}

.scrollpadding {
  padding-top: 50px;
}

#address, #address-marker {
  width: 300px;
  margin-bottom: 10px;
}

#markersubmit{
  margin-top: 15px;
}

.login {
  margin-top: 100px;
  padding: 30px;
  max-width: 600px;
  min-width: 300px;
  background-color: white;
  border-radius: 15px;
}


#show-pic {
  display: block;
  height: 40%;
  width: 40%;
  border-radius: 10%;
  margin: auto;
  margin-bottom: 20px;
}

 #editsignature{
  width: 250px;
  display: inline;
}

 #diveditsignature{
  padding: 24px 30px;
}
